.anaconda/
.bash_history
.conda/
.condarc
.config/
.continuum/
.gitconfig
.gradle/
.ipynb_checkpoints/
.ipython/
.jupyter/
.m2/
.matplotlib/
.mongorc.js
.node_repl_history
.openjfx/
.p2/
.ssh/
.vscode/
AndroidStudioProjects/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
C_Lang/
...
